{
  "bracketSameLine": true,
  "useTabs": false,
  "svelteBracketNewLine": true,
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "singleQuote": true,
  "trailingComma": "none"
}
