@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @font-face {
    font-family: 'Space Grotesk';
    font-display: swap;
    src: url('$lib/assets/space-grotesk.woff2') format('woff2 supports variations'),
         url('$lib/assets/space-grotesk.woff2') format('woff2-variations');
    unicode-range: U+0020-007F, U+00A0-00FF, U+0100-017F, U+2000-206F, U+2070-209F, U+20A0-20CF, U+2100-214F, U+2200-22FF, U+FB00-FB4F;
  }
}
